*{padding:0; margin:0;}
body{background:#E2F2E8; padding:1%;}

#header{margin-top:10px; border-radius: 3px; width: 100% ; height: 50px; background: #83A535;}


#bodyleft{float:left; border-radius: 3px; width: 24%; height: 500px; background: #6D93A7; margin: 20px 10px 10px 0px; }
#bodyleft h3{border-radius: 3px; font-size: 25px; height: 40px; line-height: 40px; color:#FFFFFF; background: #C0AB74; text-align: center; }
#bodyleft ul{margin-top:10px; list-style-type: none;}
#bodyleft ul li{border-radius: 3px; height: 30px; line-height: 30px;}
#bodyleft ul li a{display: block; text-decoration: none; font-size: 20px; color:#233567; padding-left: 3%; }
#bodyleft ul li:hover{background: #C0AB74; }



#bodyright{ padding-bottom: 2%; float:right; border-radius: 3px; width: 74.8%; min-height: 500px; background: #545557; margin: 20px 0px 10px 0px; }
#bodyright h3{width: 100% !important; border-bottom: 2px solid #6D2565; border-radius: 3px; font-size: 25px; height: 40px; line-height: 40px; color:#FFFFFF; background: #C0AB74; text-align: center; }
#bodyright form table{width: 95%; margin:auto; margin-top: 10px;}
#bodyright form table tr th{box-sizing: border-box; font-size: 20px; background: #D1E1A3; padding-left: 10px; color: #2886C4; text-align: left; height: 30px; border-top: 2px solid #59351F; border-bottom: 2px solid #59351F;}
#bodyright form table tr td{width:5px 25px 25px 8px 8px; height: 35px; color: #fff; padding-left: 15px; min-width: 210px; }
#bodyright form table tr td input{padding-left: 1%; width: 100%; height: 30px; border-radius: 3px; border:1px solid #fff;}
#bodyright form table tr td select{padding-left: 1%; width: 100%; height: 30px; border-radius: 3px; border:1px solid #fff;}
#bodyright form table tr td a{text-decoration: none; color: #883048; background: #DDF1F2; padding: 2px; border-radius: 3px; font-weight: bold;}
#bodyright form button{margin-top:20px; width: 200px; height: 30px; color: #fff; background: #A44E2D; border: 2px solid #83A535; font-weight: bold;}
#bodyright form button:hover{background: #1C5E43;}


#bodyright1{padding-bottom: 2%; background: #800080; margin: 20px 0px 10px 0px; float: right; border-radius: 3px; width: 74.8%; min-height: 500px; }
#bodyright1 h3{border-bottom: 2px solid #400040; text-align: center; border-radius: 3px; font-size: 25px; height: 40px; line-height: 40px; color: #fff; background: #800080; }
#bodyright1 form table{width: 95%; margin: auto; margin-top: 3px; }
#bodyright1 form table tr th{padding:0px 10px 0px 10px; box-sizing:border-box; font-size: 20px; color: #fff; text-align: left; background: #800080; height: 40px;}
#bodyright1 form table tr td{padding-left: 2.2%; width: 50%; height: 35px; color: #fff; }
#bodyright1 form table tr td input{padding-left: 2%; width: 100%; height: 30px; border-radius: 3px; border: 1px solid #fff; }
#bodyright1 form table tr td select{padding-left: 2%; width: 100%; height: 30px; border-radius: 3px; border: 1px solid #fff; }
#bodyright1 form table tr td a{text-decoration: none; color: #fff; }
#bodyright1 form button{margin-top: 20px; width: 200px ; height: 30px; color: #fff; border-radius: 3px; background: #800080 ; border: 2px solid #400040; }
#bodyright1 form button:hover{background: #400040; }


#add_event{margin-top: 20px; border-top: 2px solid #6D2565;}

#cus_div{background: #0F2B41; height: 50px; width:100%; float:right;   border-radius: 5px; border-bottom: 2px solid #B4D2EC; }
#custext{ text-shadow: 3px 3px #000000; text-align:center; color:#fff; font-size:25px; font-weight: bold; height: 10px; padding-top: 7px;}

#cus_view{ padding-bottom: ; float:left; border-radius: 3px; width: 100%; min-height: 600px; background: #778899;}

#cus_view{overflow: scroll;}
#cus_view h3{border-bottom: 2px solid #A3C8DA; border-radius: 3px; font-size: 25px; height: 40px; line-height: 40px; color:#FFFFFF; background: #C0AB74; text-align: center ; }
#cus_view form table tr th{box-sizing: border-box; font-size: 18px; text-shadow: 1px 1px #000000; background: #DDF1F2; padding-left: 3px; color: #2886C4; text-align: center; height: 30px; border-top: 2px solid #A3C8DA; border-bottom: 2px solid #A3C8DA; }
#cus_view form table tr td a{text-decoration: none; color: #883048; background: #DDF1F2; padding: 2px; border-radius: 3px; font-weight: bold;}
#cus_view form table tr td {text-decoration: none !important; min-width: 210px; width: 50%; height: 35px; color: #000000; font-weight: bold; text-align: center; }
#cus_view form table tr td img{ width: 150px; height: 150px; border:5px solid #A3C8DA;}
